In [1]:
#MongoDB is a no sql database.

#MongoDB Installation:

#Json is a collection of key : value pairs.

#MongoDB is equal to Json.
#MongoDB is a database server.It has many databases. Here tables are called as collections.
#Inside collections, we have records/documents(1 set of data).
#Records/Documents are called as key: value pair.

In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\bhaswatimayee.sahu\anaconda3\lib\site-packages (3.12.0)

In [3]:
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017/")

In [4]:
mydb=myclient["demoDB"]

In [5]:
collection=mydb.mongo_demo
collection_name='mongo_demo'

In [6]:
#inserting the row into the collection

my_row={'Serial No':'9998',
       'GRE score':'337',
       'TOEFL score':'118',
       'University Rating':'4',
       'SOP':'4.5',
       'LOR':'4.5',
       'CGPA':'9.65',
       'Research':'1',
       'Chance of Admit':'0.92'}

#creating key value pairs for inserting into database

In [7]:
collection.insert_one(my_row)

In [8]:
print(myclient.list_database_names())

['admin', 'config', 'demoDB', 'local']

In [9]:
#check if database exists in mongodb

dblist=myclient.list_database_names()
db_name='demoDB'

if dblist.index(db_name)==-1:
    print('Database doesnt exist')
else:
    print('Database exists')

Database exists

In [10]:
dblist=myclient.list_database_names()
db_name='xyz'

if dblist.index(db_name)==-1:
    print('Database doesnt exist')
else:
    print('Database exist')

ValueError: 'xyz' is not in list

In [11]:
#check if collection exists or not

if collection_name in mydb.list_collection_names():
    print('Collection exists')
else:
    print('Collection doesnt exist')

Collection exists

In [12]:
#printing the unique id for insert

print(collection.inserted_id)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'demoDB'), 'mongo_demo.inserted_id')

In [14]:
#inserting multiple rows at once

my_rows=[{'Serial No':'9998',
       'GRE score':'337',
       'TOEFL score':'118',
       'University Rating':'4',
       'SOP':'4.5',
       'LOR':'4.5',
       'CGPA':'9.65',
       'Research':'1',
       'Chance of Admit':'0.92'},
        {'Serial No':'9997',
       'GRE score':'337',
       'TOEFL score':'118',
       'University Rating':'4',
       'SOP':'4.5',
       'LOR':'4.5',
       'CGPA':'9.65',
       'Research':'1',
       'Chance of Admit':'0.92'},
        {'Serial No':'9996',
       'GRE score':'337',
       'TOEFL score':'118',
       'University Rating':'4',
       'SOP':'4.5',
       'LOR':'4.5',
       'CGPA':'9.65',
       'Research':'1',
       'Chance of Admit':'0.92'}]

In [15]:
#inserting records into collection

collection.insert_many(my_rows)

In [16]:
#printing unique id for insert

print(collection.inserted_ids)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'demoDB'), 'mongo_demo.inserted_ids')

In [18]:
#retrieving all the records from collection

result=collection.find({})
result[3]   #printing 3rd record

{'_id': ObjectId('61042f6e6fb964334acbaed8'),
 'Serial No': '9998',
 'GRE score': '337',
 'TOEFL score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [17]:
#print only 5 records

result_total=collection.find({}).limit(5)
for res in result_total:
    print(res)

{'_id': ObjectId('61040b4434b4e66318f03e7c'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61040d3434b4e66318f03e7e'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61040d9d34b4e66318f03e80'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61042f6e6fb964334acbaed8'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('610430866fb964334acbaed9'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [19]:
#retrieving some columns

result_some=collection.find({},{'GRE score','TOEFL score'}) #retrieving 2 columns
#the second parameter in find() specifies which olumn to choose

for res in result_some:
    print(res)

{'_id': ObjectId('61040b4434b4e66318f03e7c'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61040d3434b4e66318f03e7e'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61040d9d34b4e66318f03e80'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61042f6e6fb964334acbaed8'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('610430866fb964334acbaed9'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('610430866fb964334acbaeda'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('610430866fb964334acbaedb'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61069bb7c3b6fe96bff533ab'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61069bd5c3b6fe96bff533ac'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61069bd5c3b6fe96bff533ad'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61069bd5c3b6fe96bff533ae'), 'GRE score': '337', 'TOEFL score': '118'}

In [20]:
result_some=collection.find({},{'GRE score','TOEFL score'}).limit(5) #retrieving 2 columns
#the second parameter in find() specifies which olumn to choose

for res in result_some:
    print(res)

{'_id': ObjectId('61040b4434b4e66318f03e7c'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61040d3434b4e66318f03e7e'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61040d9d34b4e66318f03e80'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('61042f6e6fb964334acbaed8'), 'GRE score': '337', 'TOEFL score': '118'}
{'_id': ObjectId('610430866fb964334acbaed9'), 'GRE score': '337', 'TOEFL score': '118'}

In [21]:
#finding the rows satisfying a given criteria

my_db_query={'GRE score':'337'}

#printing all the ros where GRE score is 337

result_GRE=collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('61040b4434b4e66318f03e7c'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61040d3434b4e66318f03e7e'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61040d9d34b4e66318f03e80'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61042f6e6fb964334acbaed8'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('610430866fb964334acbaed9'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('610430866fb964334acbaeda'), 'Serial No': '9997', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('610430866fb964334acbaedb'), 'Serial No': '9996', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61069bb7c3b6fe96bff533ab'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61069bd5c3b6fe96bff533ac'), 'Serial No': '9998', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61069bd5c3b6fe96bff533ad'), 'Serial No': '9997', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('61069bd5c3b6fe96bff533ae'), 'Serial No': '9996', 'GRE score': '337', 'TOEFL score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [22]:
#$gt for greater than. 

my_db_query={'GRE score':{'$gt':337}}
result_GRE=collection.find(my_db_query)
for res in result_GRE:
    print(res)

In [23]:
#$lt for less than. 

my_db_query={'GRE score':{'$lt':'337'}}
result_GRE=collection.find(my_db_query)
for res in result_GRE:
    print(res)

In [24]:
#sorting in ascending order

result_GRE=collection.find(my_db_query).sort('GRE score')
for res in result_GRE:
    print(res)

In [25]:
#sorting in descending order

result_GRE=collection.find(my_db_query).sort('GRE score',-1)
for res in result_GRE:
    print(res)

In [27]:
#Deleting records from mongoDB

my_db_query={'GRE score':'337'}
x=collection.delete_one(my_db_query)
print(x.deleted_count)

1

In [ ]:
# we have successfully deleted one row/record from the collection.

#for deleting multiple rows, we can use collection.delete_many(my_db_query)

#for deleting all documents of a collection, we can use collection.delete_many({})

In [30]:
#for dropping an entire collection

collection_to_drop=mydb['test_collection']  #drops entire collection named 'test collection'
collection_to_drop.drop()

In [31]:
#updating the values present in collection

update_criteria={'GRE score':'340'}
new_values={'$set':{'GRE score':'350'}}
x=collection.update_many(update_criteria,new_values)
print(x.modified_count)

0

In [ ]:
#we have updated 9 columns with GRE score 340 with GRE score 350.

#similarly, we can update only one row by using the function update_one(update_criteria,new_values)

In [ ]:
#Why do we user API?

#For making the functionalities language independent, we use APIs.

#API means Application Programming Interface, which essentially a gateway that allows two applications/softwares to talk to each other.

#In simple words, it helps two applications/softwares to communicate.

#WSDL: web service description language.

Flask:

Flask is web application development framework (WADF).

Development framework means it consists of many libraries or collection of methods.

1.GUI
2.Rest API

In [33]:
#Install flask

!pip install flask

Requirement already satisfied: flask in c:\users\bhaswatimayee.sahu\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: click>=5.1 in c:\users\bhaswatimayee.sahu\anaconda3\lib\site-packages (from flask) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\bhaswatimayee.sahu\anaconda3\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\bhaswatimayee.sahu\anaconda3\lib\site-packages (from flask) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\bhaswatimayee.sahu\anaconda3\lib\site-packages (from flask) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\bhaswatimayee.sahu\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (1.1.1)

Web Application Development Framework

Framework: A framework is a collection of libraries.
Libraries: COllection of different methods and functions.
Flask: Flask is a web application development framework. It is supported by python.

Environment: Its a space for storing libraries.

If we have one environment we can see conflict between library version as a result several applications wont function simultaneously.

There are several http standard methods: 
Add: POST (send a new information to API)
Search: GET (Retrieve some info from application)
Update: PUT (Update an existing resource)
Delete: DELETE

request.json: Request that is coming to our API should be a json format request {key:value} pair.